<div class="header">
  <%= image_tag 'groupiethick2.png' %><br><br>
  <%= image_tag('showme.png', id:"showme") %>
  <!-- <h1>SHOWME</h1> -->
  <h3>live music from artists who haven't made it big yet</h3>
</div>

<div id="search-form">
  <form class="form-horizontal">
    <div class="form-group">
      <input id="date" type="text" name="date" required=true readonly=true class="datepicker" value="<%= Time.now.strftime("%Y-%m-%d") %>" />
    </div>
    <div class="form-group">
      <%= text_field_tag :city, nil, placeholder:"Enter a City", id:"city-input", required: true %>
      <%= select_tag :state, options_for_select(us_states), id:"state-input", prompt: "Select a State ↓", required: true %>
    </div>
    <div class="form-group">
      <br><br>
      <button type="submit" class="btn btn-primary" id="submit-btn">Search</button>
    </div>
  </form>
</div>

<div id="error-container">

</div>

<div id="current-view">

  <div id="band-name"></div>
  <div id="venue"></div>
  <div id="event-time"></div>
  <div id="spotify-preview"></div>

  <div class="tickets">
    <div id="buy-tix"></div>
    <div><a class='btn btn-primary' id='reject-btn'>Next</a></div>
  </div>

  <div id="accept-field" class="hidden">
    <button id="buy-tickets">Buy</button>
  </div>

  <div id="audio-container">
  </div>

</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div id="view-container" >

</div>

<script id="script">
  var events;
  $(".spinner").hide();
  $("#current-view").hide();

  $(function() {
    $('.datepicker').datepicker({
      dateFormat: "yy-mm-dd",
      prevText: "<",
      nextText: ">",
      constrainInput: true,
      duration: "medium",
      maxDate: "+3m"
    });
  });

  $("#reject-btn").on("click", function() {
    events.shift();
    if (events.length === 0) {
      $("#current-view").html("That's all the events for now. <br><a id='search-again' class='btn btn-primary'>Try again.</a>");
      $("#search-again").on("click", function() {
        window.location.reload();
      });
    } else {
      $("#band-name").empty();
      displayEvent();
    }
  });

  // function searchAgain() {
  //   events = undefined;
  //   $("#search-again").off("click", function() { searchAgain(); });
  //   $("form").show();
  //   $("#current-view").empty();
  //   $("#error-container").empty();
  // }

  function displayEvent() {
    console.log(events[0])
    var time = moment(events[0]['datetime']).format("M/D - h:mm A");
    for (var i=0; i < events[0]['artists'].length; i++) {
      if (events[0]["artists"][i]["preview"]) {
        var playID = "play-btn-" + i
        var audioID = "audio-" + i
        $("#band-name").append(events[0]["artists"][i]["name"] +
        ' <audio id="' + audioID + '" src=' + events[0]["artists"][i]["preview"] + '></audio>' +
        '<span id="' + playID + '" class="glyphicon glyphicon-play" aria-hidden="true"></span>' +
        '<br>')
        document.getElementById(playID).addEventListener("click", function() {
          document.getElementById(audioID).play();
        });
      } else {
        $("#band-name").append(events[0]["artists"][i]["name"] + '<br>');
      }
    };
    $("#venue").text(events[0]['venue']['name']);
    $("#event-time").text(time);
    $("#buy-tix").html("<a href=" + events[0]['ticket_url'] + " target=_blank class='btn btn-primary'> Buy Tickets </a>");


  };

  $("form").submit(function(event) {
    event.preventDefault();
    $(".spinner").show();
    var formParams = {
      date: $("#date").val(),
      city: $("#city-input").val(),
      state: $("#state-input").val()
    };
    $("form").hide();
    $.ajax({
      type: 'POST',
      data: formParams,
      dataType: 'script',
      url: '/home/spotify'
    })
    .done(function(data) {
      if(data === "false") {
        $(".spinner").hide();
        $("#error-container").show().html("No matches found. <br><a id='search-again' class='btn btn-primary'>Try again.</a>");
        $("#search-again").on("click", function() {
          searchAgain();
        });
      } else {
        events = JSON.parse(data);
        displayEvent();
        $("#current-view").show();
      }
    })
    .fail(function(jqxhr, error) {
      $(".spinner").hide();
      $("#error-container").show().html("No matches found. <br><a id='search-again' class='btn btn-primary'>Try again.</a>");
      $("#search-again").on("click", function() {
        searchAgain();
      });
    })
    .always(function() {
      console.log('finished');
      $(".spinner").hide();
    })
  });
</script>
