<%= render 'home_icons' %>

<div class="header">
  <%= image_tag 'groupiethick.png' %><br><br>
  <%= image_tag('showme.png', id:"showme") %>
  <br>
  <div id="slideshow">
    <p class="tagline">
      concerts with tickets available
    </p>
    <p class="tagline">
      the funk
    </p>
    <p class="tagline">
      some sweet date ideas
    </p>
    <p class="tagline">
      hipster bands my friends don't know
    </p>
    <p class="tagline">
      something to do tonight
    </p>
  </div>
</div>

<div id="search-form">
  <%= form_tag(results_path, controller: 'home', action: 'results', id: "database-form", method: :post) do %>
    <div class="form-wrapper">
      <div class="form-group">
        i want to see a show on &nbsp;
        <% if session[:last_date] %>
          <input id="date" type="text" name="date" required readonly=true class="datepicker" value="<%= session[:last_date] %>" />
        <% else %>
          <input id="date" type="text" name="date" required readonly=true class="datepicker" value="<%= Time.now.strftime("%Y-%m-%d") %>" />
        <% end %>
      </div>
      <div class="form-group"><span>in</span>
        <%= text_field_tag :city, nil, placeholder:"city", id:"city-input", required:true, autofocus:true, value:"#{session[:last_city] if session[:last_city]}" %>, &nbsp;
      </div>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
      </div>
  <% end %>
</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<script id="script">

  // Sliding Tagline
  $("#slideshow > .tagline:gt(0)").hide();

  setInterval(function() {
    $('#slideshow > .tagline:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
  },  3000);


  // Hide Spinner to Start
  $(".spinner").hide();

  // Calendar from JQuery UI
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: "yy-mm-dd",
      prevText: "←",
      nextText: "→",
      constrainInput: true,
      duration: "medium",
      maxDate: "+3m",
      minDate: "0d"
    });
  });

  $("form").submit(function(e) {
    $(".spinner").show();
    $("#search-form").hide();
  })

</script>

<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));
</script>
