<div class="header">
  <%= image_tag 'groupiethick.png' %><br><br>
  <%= image_tag('showme.png', id:"showme") %>
  <br>
  <div id="slideshow">
    <p class="tagline">
      what bands are playing
    </p>
    <p class="tagline">
      concerts with tickets available
    </p>
    <p class="tagline">
      a llama with a hat
    </p>
  </div>
</div>

<div id="search-form">
  <%= form_tag(results_path, controller: 'home', action: 'results', id: "database-form", method: :post) do %>
    <div class="form-group">
      <input id="date" type="text" name="date" required readonly=true class="datepicker" value="<%= Time.now.strftime("%Y-%m-%d") %>" />
    </div>
    <div class="form-group">
      <%= text_field_tag :city, nil, placeholder:"Enter a City", id:"city-input", required: true %>
      <%= select_tag :state, options_for_select(us_states), id:"state-input", prompt: "Select a State ↓", required: true %>
    </div>
    <div class="form-group">
      <br><br>
      <button type="submit" class="btn btn-primary" id="search-btn">Search</button>
    </div>
  <% end %>
</div>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<script id="script">

  // Sliding Tagline
  $("#slideshow > .tagline:gt(0)").hide();

  setInterval(function() {
    $('#slideshow > .tagline:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
  },  3000);


  // Hide Spinner to Start
  $(".spinner").hide();

  // Calendar from JQuery UI
  $(function() {
    $('.datepicker').datepicker({
      dateFormat: "yy-mm-dd",
      prevText: "<",
      nextText: ">",
      constrainInput: true,
      duration: "medium",
      maxDate: "+3m",
      minDate: "0d"
    });
  });

  $("form").submit(function(e) {
    $(".spinner").show();
    $("#search-form").hide();
  })

</script>
