<h1>Home</h1>

<%= form_tag(home_spotify_path, controller: 'home', action: 'spotify', id: "search-form", remote: true) do %>
  <%= label_tag :artist %>
  <%= text_field_tag :artist %>
  <%= text_field_tag :city %>
  <%= text_field_tag :state %>
  <button type="submit">Search</button>
<% end %>

<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div id="result">

</div>

<script>

// hide spinner
$(".spinner").hide();

// show spinner on AJAX start
$(document).ajaxStart(function(){
  $(".spinner").show();
});

// hide spinner on AJAX stop
$(document).ajaxStop(function(){
  $(".spinner").hide();
});

</script>
