<a class="home-btn" href="/"><i class="fa fa-arrow-circle-left"></i>&nbsp; search again</a>

<div class="header" id="city-result">
  <h1><%= @city_date.city %></h1>
  <h3><%= " #{@events.length} events on " if @events.length > 1 %>
  <%= " #{@events.length} event on " if @events.length == 1 %>
  <%= @city_date.date %></h3>
</div>

<div id="all-events-container">
  <% if @events.length == 0 %>
  <br><br><br>  <h1>No events today <br><a class="home-btn" href="/"><i class="fa fa-arrow-circle-o-left"></i>&nbsp; search again</a></h1>
  <% end %>
  <% i = 0 %>
  <% while i < @events.length %>
    <div id="event-wrapper-<%=i%>" class="event-wrapper">
      <span class="glyphicon glyphicon-chevron-left back-btn" id="back-btn-<%=i%>"></span>
      <span class="glyphicon glyphicon-chevron-right forward-btn" id="forward-btn-<%=i%>"></span>
      <div class="event-flexbox">
        <div class="venue-box">
          <%= @events[i].datetime.strftime("%I:%M %p") %> @ <%= @events[i].venue_name %>
        </div>
        <div class="artist-box row">
            <% j = 0 %>
            <% while j < @events[i].artists.length %>
              <div id="artist-wrapper-<%=i%>-<%=j%>" class="artist-wrapper">
                <div class="artist-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%=@events[i].artists[j].image_url%>);">
                  <header>
                    <div class="artist-name"><%= @events[i].artists[j].name %></div>
                    <div class="song-preview">
                      <%= @events[i].artists[j].song_name %><br>
                      <audio id="audio-<%=i%>-<%=j%>" src="<%=@events[i].artists[j].song_preview%>"></audio>
                      <span id="play-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                      <span id="pause-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    </div>
                  </header>
                </div>
              </div>
            <% j += 1 %>
            <% end %>
        </div>
        <!-- <div id="map-canvas-<%=i%>" class="venue-map noSwipe"><div id="map-<%=i%>" style="height:100%;"></div></div> -->
      </div>
      <div class="mobile-swipe-alert">
        <p id ="flash" class="alert">Swipe through events if you are on mobile.
          <button class="close">×</button>
        </p>
      </div>
      <div class="buy-tickets">
        <a href="<%= @events[i].ticket_url %>" target="_blank" class="btn btn-primary">Get Tickets</a>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
</div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-4LxOVQWA-hGejsU5YOa1WCJZe60qnUs&sensor=false">
</script>

<script type="text/javascript">
  events = <%= raw @events.to_json(:include => :artists) %>
  artists = <%= raw @artists.to_json %>

  $(".close").on("click", function() {
    $(".mobile-swipe-alert").fadeOut();
  })

  // Venue maps

  var latitude;
  var longitude;
  var latLng;
  var map;
  var i = 0;

  function initMap() {
      latitude = parseFloat(events[i].venue_lat)
      longitude = parseFloat(events[i].venue_long)
      latLng = new google.maps.LatLng(latitude, longitude)
      var mapOptions = {
        center: latLng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,
        styles:  [{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}]
      }
      map = new google.maps.Map(document.getElementById('map-canvas-' + i), mapOptions);
    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
    });
  }

  google.maps.event.addDomListener(window, 'load', initMap);
  $("#venue-modal-0").on("shown.bs.modal", function () {
      google.maps.event.trigger(map, "resize");
  });


  // Pause All Audio When Navigating to Next Event
  function pauseAllAudio() {
    var audios = document.getElementsByTagName('audio');
    for(var h = 0; h < audios.length; h++){
      audios[h].pause();
    }
  }

  // Initialize
  $(".event-wrapper").hide();
  $("#event-wrapper-" + i).show();
  $(".glyphicon-pause").hide();
  document.querySelector("#back-btn-0").style.color = "#CA5447"
  document.querySelector("#back-btn-0").style.cursor = "default"
  $("#back-btn-0").off();
  if (events.length === 1) {
    document.querySelector("#forward-btn-" + i).style.color = "#CA5447"
    document.querySelector("#forward-btn-" + i).style.cursor = "default"
    $("#forward-btn-" + i).off();
  }

  // Next Event Action Callback
  function nextEvent() {
    pauseAllAudio();
    if ($(".container-fluid").css("padding") !== "0px" ){
      $(".back-btn").show();
    }
    $("#event-wrapper-" + i).effect("slide", {direction: "left", mode:"hide"}, 200);
    i++
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"show"}, 800);
    initMap();
    if (i === events.length - 1) {
      document.querySelector("#forward-btn-" + i).style.color = "#CA5447"
      document.querySelector("#forward-btn-" + i).style.cursor = "default"
      $("#forward-btn-" + i).off();
    }
  }

  // Previous Event Action Callback
  function previousEvent() {
    pauseAllAudio();
    if ($(".container-fluid").css("padding") !== "0px" ){
      $(".forward-btn").show();
    }
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"hide"}, 200);
    i--
    $("#event-wrapper-" + i).delay(200).effect("slide", {direction: "left", mode:"show"}, 600);
    if (i === 0) {
      document.querySelector("#back-btn-0").style.color = "#CA5447"
      document.querySelector("#back-btn-0").style.cursor = "default"
      $("#back-btn-" + i).off();
    }
  }

  // Click Events
  $(".forward-btn").on("click", function() {
    nextEvent();
  });

  $(".back-btn").on("click", function() {
    previousEvent();
  });

  // Left/Right Arrow Events
  $('body').keydown(function(e){
    if (event.which === 37) {
      if (i !== 0) {
        previousEvent();
      }
    } else if (event.which === 39) {
      if (i !== events.length - 1) {
        nextEvent();
      }
    }
  });

  $("body").swipe( {
    swipe:function(event, direction, distance, duration, fingerCount) {
      if ((direction === "left") && (i !== events.length - 1)) {
        nextEvent();
      } else if ((direction === "right") && (i !== 0)) {
        previousEvent();
      }
    },
    allowPageScroll:"auto"
  });

  // Event Handlers for Play/Pause and Artist Modals
  for (var j=0; j < events.length; j++) {
    var eventsWrapper = document.querySelector("#event-wrapper-" + j);
    eventsWrapper.addEventListener("click", actionToggle, false);
  }

  function actionToggle(e) {
      if (e.target !== e.currentTarget) {
          var clickedItem = e.target.id;
          var playItemID = clickedItem.substring((clickedItem.indexOf("n-") + 2), clickedItem.length)
          var modalItemID = clickedItem.substring((clickedItem.indexOf("r-") + 2), clickedItem.length)
          if (clickedItem.charAt(1) === "l") {
            var audios = document.getElementsByTagName('audio');
              for(var h = 0; h < audios.length; h++){
                if(audios[h] != e.target){
                  audios[h].pause();
                }
              }
            $('.glyphicon-pause').hide();
            $('.glyphicon-play-circle').show();
            $('#play-btn-' + playItemID).hide();
            $('#pause-btn-' + playItemID).show();
            document.getElementById("audio-" + playItemID).play();
          } else if (clickedItem.charAt(1) === "a") {
            $('#play-btn-' + playItemID).show();
            $('#pause-btn-' + playItemID).hide();
            document.getElementById("audio-" + playItemID).pause();
          } else if (clickedItem.charAt(0) === "a") {
            $('#artist-modal-' + modalItemID).modal();
          } else if (clickedItem.charAt(0) === "v") {
            $('#venue-modal-' + modalItemID).modal();
          }
      }
    e.stopPropagation();
  }

</script>
