<a class="home-btn" href="/"><i class="fa fa-arrow-circle-left"></i>&nbsp; search again</a>

<div class="header" id="city-result">
  <h1><%= @city_date.city %></h1>
  <h3><%= " #{@events.length} events on " if @events.length > 1 %>
  <%= " #{@events.length} event on " if @events.length == 1 %>
  <%= @city_date.date.strftime("%m-%d-%Y") %></h3>
</div>

<%= render 'result_icons' %>

<div id="all-events-container">

  <div class="navigation-alert" id ="flash">
    <p class="alert">Swipe or use left/right arrow keys to navigate events.
    <button class="close">×</button>
    </p>
  </div>

  <% if @events.length == 0 %>
    <br><br><br>
    <h1>No events today
    <br><a class="home-btn" href="/"><i class="fa fa-arrow-circle-o-left"></i>&nbsp; search again</a></h1>
  <% end %>

  <% i = 0 %>
  <% while i < @events.length %>
    <div id="event-wrapper-<%=i%>" class="event-wrapper">
      <div class="event-flexbox">

        <div class="venue-box id="venue-<%=i%>">
          <span class="event-number"><%= i + 1 %></span>
          <a id="map-reveal-<%=i%>">  <%= @events[i].datetime.strftime("%I:%M %p") %> @ <%= @events[i].venue_name %></a>
        </div>
        <div id="map-canvas-<%=i%>" class="venue-map noSwipe">
          <div id="map-<%=i%>" style="height:100%;"></div>
        </div>

        <div class="artist-box row">
            <% j = 0 %>
            <% while j < @events[i].artists.length %>
              <div id="artist-wrapper-<%=i%>-<%=j%>" class="artist-wrapper">
                <div class="artist-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%=@events[i].artists[j].image_url%>);">
                  <header>
                    <div class="artist-name"><%= @events[i].artists[j].name %></div>
                    <div class="song-preview">
                      <%= @events[i].artists[j].song_name %><br>
                      <audio id="audio-<%=i%>-<%=j%>" src="<%=@events[i].artists[j].song_preview%>"></audio>
                      <span id="play-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                      <span id="pause-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                    </div>
                    <a href="<%=@events[i].artists[j].spotify_link%>" target="_blank" id="spotify-link"><%=image_tag "listen_on_spotify-black.png"%></a>
                  </header>
                </div>
              </div>
            <% j += 1 %>
            <% end %>
        </div>

      </div>

      <div class="buy-tickets">
        <a href="<%= @events[i].ticket_url %>" target="_blank" class="btn btn-primary">Get Tickets</a>
      </div>
    </div>
    <% i += 1 %>
  <% end %>
</div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-4LxOVQWA-hGejsU5YOa1WCJZe60qnUs">
</script>

<script type="text/javascript">
  events = <%= raw @events.to_json(:include => :artists) %>
  artists = <%= raw @artists.to_json %>

  $(".close").on("click", function() {
    $(".navigation-alert").hide();
  })

  // Pause All Audio When Navigating to Next Event
  function pauseAllAudio() {
    var audios = document.getElementsByTagName('audio');
    for(var h = 0; h < audios.length; h++){
      audios[h].pause();
    }
  }

  // Initialize
  var i = 0
  $(".event-wrapper").hide();
  $("#event-wrapper-" + i).show();
  $(".glyphicon-pause").hide();
  $(".venue-map").hide();

  // Venue maps
  var latitude;
  var longitude;
  var latLng;
  var map;

  function initMap() {
      latitude = parseFloat(events[i].venue_lat)
      longitude = parseFloat(events[i].venue_long)
      latLng = new google.maps.LatLng(latitude, longitude)
      var mapOptions = {
        center: latLng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: true,
        styles:  [{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}]
      }
      map = new google.maps.Map(document.getElementById('map-canvas-' + i), mapOptions);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
      });
      google.maps.event.trigger(map, 'resize')
  }

  google.maps.event.addDomListener(window, 'load', initMap);

  // Next Event Action Callback
  function nextEvent() {
    pauseAllAudio();
    $("#event-wrapper-" + i).effect("slide", {direction: "left", mode:"hide"}, 200);
    i++
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"show"}, 800);
    initMap();
  }

  // Previous Event Action Callback
  function previousEvent() {
    pauseAllAudio();
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"hide"}, 200);
    i--
    $("#event-wrapper-" + i).delay(200).effect("slide", {direction: "left", mode:"show"}, 600);
    initMap();
  }

  // Left/Right Arrow Events
  $('body').keydown(function(e){
    if (event.which === 37) {
      if (i > 0) {
        previousEvent();
      }
    } else if (event.which === 39) {
      if (i < events.length - 1) {
        nextEvent();
      }
    }
  });

  $("body").swipe( {
    swipe:function(event, direction, distance, duration, fingerCount) {
      if ((direction === "left") && (i !== events.length - 1)) {
        nextEvent();
      } else if ((direction === "right") && (i !== 0)) {
        previousEvent();
      }
    },
    allowPageScroll:"auto"
  });

  // Event Handlers for Play/Pause, Maps, and Modal Navigation
  for (var j=0; j < events.length; j++) {
    var eventsWrapper = document.querySelector("#event-wrapper-" + j);
    var eventModal = document.querySelector("#event-modal-" + j);
    eventsWrapper.addEventListener("click", actionToggle, false);
    eventModal.addEventListener("click", findEvent, false);
  }

  function findEvent(e) {
    var eventID = (e.currentTarget.id);
    var eventNumber = eventID[eventID.length - 1]
    pauseAllAudio();
    $("#event-wrapper-" + i).effect("slide", {direction: "left", mode:"hide"}, 200);
    $('#all-events-modal').modal('hide');
    i = eventNumber
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"show"}, 800);
    initMap();
  }

  function actionToggle(e) {
      if (e.target !== e.currentTarget) {
          var clickedItem = e.target.id;
          var playItemID = clickedItem.substring((clickedItem.indexOf("n-") + 2), clickedItem.length)
          if (clickedItem.charAt(1) === "l") {
            var audios = document.getElementsByTagName('audio');
              for(var h = 0; h < audios.length; h++){
                if(audios[h] != e.target){
                  audios[h].pause();
                }
              }
            $('.glyphicon-pause').hide();
            $('.glyphicon-play-circle').show();
            $('#play-btn-' + playItemID).hide();
            $('#pause-btn-' + playItemID).show();
            document.getElementById("audio-" + playItemID).play();
          } else if (clickedItem.charAt(0) === "p" && clickedItem.charAt(1) === "a") {
            $('#play-btn-' + playItemID).show();
            $('#pause-btn-' + playItemID).hide();
            document.getElementById("audio-" + playItemID).pause();
          } else if (clickedItem.charAt(0) === "m" && clickedItem.charAt(1) === "a") {
            $("#map-canvas-" + i).slideToggle('fast', function() {
              google.maps.event.trigger(map, 'resize');
              map.setCenter(latLng)
            });
          }
      }
    e.stopPropagation();
  }

</script>
