<div class="container">
  <div class="header">
    <h1><%= @city_date.city %></h1>
    <h3><%= " #{@events.length} events on " if @events.length > 1 %>
    <%= " #{@events.length} event on " if @events.length == 1 %>
    <%= @city_date.date %></h3>
  </div>

  <div id="all-events-container">
    <% if @events.length == 0 %>
    <br><br><br>  <h1>No events today <br><a class="home-btn" href="/"><i class="fa fa-arrow-circle-o-left"></i>&nbsp; search again</a></h1>
    <% end %>
    <% i = 0 %>
    <% while i < @events.length %>
      <div id="event-wrapper-<%=i%>" class="event-wrapper">
        <span class="glyphicon glyphicon-chevron-left back-btn" id="back-btn-<%=i%>"></span>
        <span class="glyphicon glyphicon-chevron-right forward-btn" id="forward-btn-<%=i%>"></span>
        <div class="event-flexbox">
          <div class="artist-box">
              <% j = 0 %>
              <% while j < @events[i].artists.length %>
                <div id="artist-wrapper-<%=i%>-<%=j%>" class="artist-wrapper row">
                  <span id="modal-trigger-<%=i%>-<%=j%>", class="modal-trigger"><%= @events[i].artists[j].name %></span>&nbsp;
                  <audio id="audio-<%=i%>-<%=j%>" src="<%=@events[i].artists[j].song_preview%>"></audio>
                  <span id="play-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                  <span id="pause-btn-<%=i%>-<%=j%>" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                  <div id="artist-modal-<%=i%>-<%=j%>" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title"><%= @events[i].artists[j].name %></h4>
                        </div>
                        <div class="modal-body">
                          <%= image_tag "#{@events[i].artists[j].image_url}" %>
                        </div>
                        <div class="modal-footer">
                          <a href="<%=@events[i].artists[j].spotify_link%>" target="_blank" id="spotify-link"><%=image_tag "listen_on_spotify-black"%></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              <% j += 1 %>
              <% end %>
          </div>
          <div class="venue-box">
            <div class="venue-name">
              @ <%= @events[i].venue_name %>
            </div>
            <div class="event-time">
              <%= @events[i].datetime.strftime("%I:%M %p") %>
            </div>
          </div>
        </div>
        <div class="buy-tickets">
          <a href="<%= @events[i].ticket_url %>" target="_blank" class="btn btn-primary">Get Tickets</a>
        </div>
        <a class="home-btn" href="/"><i class="fa fa-long-arrow-left"></i>&nbsp; search again</a>
      </div>
      <% i += 1 %>
    <% end %>
  </div>

  <div id="map-canvas" style="width: 300px; height: 300px"><div id="map" style="height:100%;"></div></div>

</div>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-4LxOVQWA-hGejsU5YOa1WCJZe60qnUs&sensor=false">
</script>

<script type="text/javascript">

</script>


<script type="text/javascript">
  events = <%= raw @events.to_json(:include => :artists) %>
  artists = <%= raw @artists.to_json %>
  function pauseAllAudio() {
    var audios = document.getElementsByTagName('audio');
    for(var h = 0; h < audios.length; h++){
      audios[h].pause();
    }
  }

  $(".event-wrapper").hide();
  var i = 0
  $("#event-wrapper-" + i).show();
  document.querySelector("#back-btn-0").style.color = "#CA5447"
  document.querySelector("#back-btn-0").style.cursor = "default"
  $("#back-btn-0").off();
  if (events.length === 1) {
    document.querySelector("#forward-btn-" + i).style.color = "#CA5447"
    document.querySelector("#forward-btn-" + i).style.cursor = "default"
    $("#forward-btn-" + i).off();
  }

  $(".forward-btn").on("click", function() {
    pauseAllAudio();
    $(".back-btn").show();
    $("#event-wrapper-" + i).effect("slide", {direction: "left", mode:"hide"}, 200);
    i++
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"show"}, 800);
    if (i === events.length - 1) {
      document.querySelector("#forward-btn-" + i).style.color = "#CA5447"
      document.querySelector("#forward-btn-" + i).style.cursor = "default"
      $("#forward-btn-" + i).off();
    }
  });
  $("#event-wrapper-" + i).show();
  $(".back-btn").on("click", function() {
    pauseAllAudio();
    $(".forward-btn").show();
    $("#event-wrapper-" + i).effect("slide", {direction: "right", mode:"hide"}, 200);
    i--
    $("#event-wrapper-" + i).delay(200).effect("slide", {direction: "left", mode:"show"}, 600);
    if (i === 0) {
      document.querySelector("#back-btn-0").style.color = "#CA5447"
      document.querySelector("#back-btn-0").style.cursor = "default"
      $("#back-btn-" + i).off();
    }
  });

  $(".glyphicon-pause").hide();
  for (var j=0; j < events.length; j++) {
      var eventsWrapper = document.querySelector("#event-wrapper-" + j);
      eventsWrapper.addEventListener("click", actionToggle, false);
  }

  function actionToggle(e) {
      if (e.target !== e.currentTarget) {
          var clickedItem = e.target.id;
          var playItemID = clickedItem.substring((clickedItem.indexOf("n-") + 2), clickedItem.length)
          var modalItemID = clickedItem.substring((clickedItem.indexOf("r-") + 2), clickedItem.length)
          if (clickedItem.charAt(1) === "l") {
            var audios = document.getElementsByTagName('audio');
              for(var h = 0; h < audios.length; h++){
                if(audios[h] != e.target){
                  audios[h].pause();
                }
              }
            $('.glyphicon-pause').hide();
            $('.glyphicon-volume-up').show();
            $('#play-btn-' + playItemID).hide();
            $('#pause-btn-' + playItemID).show();
            document.getElementById("audio-" + playItemID).play();
          } else if (clickedItem.charAt(1) === "a") {
            $('#play-btn-' + playItemID).show();
            $('#pause-btn-' + playItemID).hide();
            document.getElementById("audio-" + playItemID).pause();
          } else if (clickedItem.charAt(0) === "m") {
            debugger;
            $('#artist-modal-' + modalItemID).modal();
          }
      }
    e.stopPropagation();
  }


  var latitude = parseFloat(events[0].venue_lat)
  var longitude = parseFloat(events[0].venue_long)
  var latLng = new google.maps.LatLng(latitude, longitude)

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: latLng,
      zoom: 11
    });
  }

  google.maps.event.addDomListener(window, 'load', initMap);

</script>
