<p>
  <%= binding.pry %>
  Concerts in <%= @city_date.city %> on <%= @city_date.date %>
</p>
<ul>
  <% @city_date.events.each do |event| %>
    <li><% event.artists.each do |artist| %>
      <%= artist.name + ", " %><%  end %> at <%=event.venue_name %> </li>
  <% end %>
</ul>
