<!DOCTYPE html>
<html>
<head>
  <title>ShowMe Live Music</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Yesteryear|Yellowtail|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name="description" content="ShowMe Live Music: Find concerts and shows with tickets available. Say you want to go see a show on Friday. But you don't have a specific band in mind, and you aren't sure who's coming to town. Enter your city and the date and we'll tell you who's playing where. Listen to previews of the artists to see if you're interested. Our information and music previews come from Bandsintown and Spotify. We will only show you concerts that still have tickets available (according to Bandsintown)." />
  <meta name="keywords" content="showme, music, concerts, live, tickets, shows, artists, spotify, bandsintown" />
  <meta name="author" content="Andrew Haupt" />
  <meta name="robots" content="index,follow" />
  <meta property="og:url"           content="http://showmelivemusic.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="ShowMe Live Music" />
  <meta property="og:description"   content="Finding live music and shows with tickets available" />
  <meta name="google-site-verification" content="LE_CSqVxnonBViq7l_iKa2Zvdw6ATRtXxXElmt20ccs" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70277333-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div class="container-fluid site-wrapper">
    <% if notice %>
      <p id ="flash" class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id ="flash" class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').fadeOut(1000);
      }, 2000);
    })
  </script>
</body>
</html>
