<!DOCTYPE html>
<html>
<head>
  <title>ShowMe Live Music</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Yesteryear|Yellowtail|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <meta name="description" content="ShowMe Live Music: finding live music and shows with tickets available" />
  <meta name="keywords" content="showme, music, concerts, live, tickets, shows, artists, spotify, bandsintown" />
  <meta name="author" content="Andrew Haupt" />
  <meta name="robots" content="index,follow" />
  <meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="ShowMe Live Music" />
  <meta property="og:description"   content="Finding live music and shows with tickets available" />
  <meta name="google-site-verification" content="LE_CSqVxnonBViq7l_iKa2Zvdw6ATRtXxXElmt20ccs" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-70277333-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <div class="container-fluid site-wrapper">
    <% if notice %>
      <p id ="flash" class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id ="flash" class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').fadeOut();
      }, 3000);
    })
  </script>
</body>
</html>
