<!DOCTYPE html>
<html>
<head>
  <title>ShowMe Live Music</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Yesteryear|Yellowtail|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container site-wrapper">
    <% if notice %>
      <p id ="flash" class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id ="flash" class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').fadeOut();
      }, 2500);
    })
  </script>
</body>
</html>
